In [20]:
import tabula as tb

# Extraindo a tabela da página 2 do PDF
tabelas = tb.read_pdf("Modelo_PDF (1).pdf", pages="all", lattice=True)

# Substituir \r por espaço vazio nos cabeçalhos das tabelas e no corpo da tabela
for i, tabela in tabelas:
    tabela.columns = [col.replace("\r", " ") for col in tabela.columns]
    tabela = tabela.applymap(lambda x: x.replace("\r", " ") if isinstance(x, str) else x)
    tabelas[i] = tabela.fillna("")
    
# Exibir as tabelas
for i, tabela in enumerate(tabelas):
    display(tabela)

C:\Users\allme\AppData\Local\Temp\ipykernel_3252\1226984143.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  tabela = tabela.applymap(lambda x: x.replace("\r", " ") if isinstance(x, str) else x)

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [REGISTRO DE AULAS - PORTAL DO DOCENTE]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [2, 31/01/24, Apresentação da disciplina - Conteúdo a ser abordado, metodologia de ensino, avaliações. Avisos sobre as atividades e ferramentas que serão utilizadas. Apresentação do Docente e interação com os alunos., 31/01/2024, Apresentação da disciplina - Conteúdo a ser abordado, metodologia de ensino, avaliações. Avisos sobre as atividades e ferramentas que serão utilizadas. Apresentação do Docente e interação com os alunos..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [4, 05/02/24, Introdução a Lógica de programação - o que é lógica, onde é utilizada , qual a importância de sua utilização. Algoritmo, conceito , aplicação e importância. Introdução a Fluxogramas. Ferramentas a serem utilizadas., 05/02/2024, Introdução a Lógica de programação - o que é lógica, onde é utilizada , qual a importância de sua utilização. Algoritmo, conceito , aplicação e importância. Introdução a Fluxogramas. Ferramentas a serem utilizadas..1]
Index: []

Empty DataFrame
Columns: [6, 05/02/24, Introdução a Lógica de programação - o que é lógica, onde é utilizada , qual a importância de sua utilização. Algoritmo, conceito , aplicação e importância. Introdução a Fluxogramas. Ferramentas a serem utilizadas., 05/02/2024, Introdução a Lógica de programação - o que é lógica, onde é utilizada , qual a importância de sua utilização. Algoritmo, conceito , aplicação e importância. Introdução a Fluxogramas. Ferramentas a serem utilizadas..1]
Index: []

Empty DataFrame
Columns: [8, 07/02/24, Revisão (Jogo da Velha);, 07/02/2024, Revisão (Jogo da Velha);.1]
Index: []

Empty DataFrame
Columns: [10, 19/02/24, Fluxogramas - Apresentação e utilização da estrutura na criação de sistemas. Principais ferramentas para criação de fluxos. Exercícios de fixação., 19/02/2024, Fluxogramas - Apresentação e utilização da estrutura na criação de sistemas. Principais ferramentas para criação de fluxos. Exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [12, 19/02/24, Fluxogramas - Apresentação e utilização da estrutura na criação de sistemas. Principais ferramentas para criação de fluxos. Exercícios de fixação., 19/02/2024, Fluxogramas - Apresentação e utilização da estrutura na criação de sistemas. Principais ferramentas para criação de fluxos. Exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [14, 21/02/24, Tipos de dados - Explicação de como são usados no desenvolvimento. Variáveis e constates - Utilização dentro dos programas. Exercícios de fixação., 21/02/2024, Tipos de dados - Explicação de como são usados no desenvolvimento. Variáveis e constates - Utilização dentro dos programas. Exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [16, 26/02/24, Revisão aula anterior - Explicação sobre resolução dos exercícios, expressões aritméticas , expressões lógicas, exercícios ., 26/02/2024, Revisão aula anterior - Explicação sobre resolução dos exercícios, expressões aritméticas , expressões lógicas, exercícios ..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [18, 26/02/24, Revisão aula anterior - Explicação sobre resolução dos exercícios, expressões aritméticas , expressões lógicas, exercícios ., 26/02/2024, Revisão aula anterior - Explicação sobre resolução dos exercícios, expressões aritméticas , expressões lógicas, exercícios ..1]
Index: []

Empty DataFrame
Columns: [20, 28/02/24, Estruturas condicionais simples e compostas. Explanação do assunto, revisão dos assuntos abordados até aqui. Exercícios práticos., 28/02/2024, Estruturas condicionais simples e compostas. Explanação do assunto, revisão dos assuntos abordados até aqui. Exercícios práticos..1]
Index: []

Empty DataFrame
Columns: [22, 04/03/24, Estruturas condicionais aninhadas (SE SENAO SE). Explicação e correção dos exercícios das aulas anteriores . Aplicação de novos exercícios em sala de aula., 04/03/2024, Estruturas condicionais aninhadas (SE SENAO SE). Explicação e correção dos exercícios das aulas anteriores . Aplicação de novos exercícios em sala de aula..1]
Index: []

Empty DataFrame
Columns: [24, 04/03/24, Estruturas condicionais aninhadas (SE SENAO SE). Explicação e correção dos exercícios das aulas anteriores . Aplicação de novos exercícios em sala de aula., 04/03/2024, Estruturas condicionais aninhadas (SE SENAO SE). Explicação e correção dos exercícios das aulas anteriores . Aplicação de novos exercícios em sala de aula..1]
Index: []

Empty DataFrame
Columns: [26, 06/03/24, Laços de repetição - O que é e para que serve. Sua importância e aplicação no desenvolvimento de aplicaçãoes. Exemplos práticos utilizando o Portugol studio e fluxogramas., 06/03/2024, Laços de repetição - O que é e para que serve. Sua importância e aplicação no desenvolvimento de aplicaçãoes. Exemplos práticos utilizando o Portugol studio e fluxogramas..1]
Index: []

Empty DataFrame
Columns: [28, 11/03/24, Laços de repetição - PARA - Resolução de problemas utilizando o laço PARA. Aula prática com exercícios para resolução em sala de aula assim como lista para resolver em casa., 11/03/2024, Laços de repetição - PARA - Resolução de problemas utilizando o laço PARA. Aula prática com exercícios para resolução em sala de aula assim como lista para resolver em casa..1]
Index: []

Empty DataFrame
Columns: [30, 11/03/24, Laços de repetição - PARA - Resolução de problemas utilizando o laço PARA. Aula prática com exercícios para resolução em sala de aula assim como lista para resolver em casa., 11/03/2024, Laços de repetição - PARA - Resolução de problemas utilizando o laço PARA. Aula prática com exercícios para resolução em sala de aula assim como lista para resolver em casa..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [32, 13/03/24, Correção dos exercícios da aula anterior, momento para tirar dúvidas. Utilização de laços de repetição aninhados utilizando o PARA, exercícios de fixação ., 13/03/2024, Correção dos exercícios da aula anterior, momento para tirar dúvidas. Utilização de laços de repetição aninhados utilizando o PARA, exercícios de fixação ..1]
Index: []

Empty DataFrame
Columns: [34, 18/03/24, Correção das atividades da aula anterior . Laços de repetição - FAÇA - utilização em resolução de problemas, exercícios sobre o assunto abordado e momento para tirar dúvidas., 18/03/2024, Correção das atividades da aula anterior . Laços de repetição - FAÇA - utilização em resolução de problemas, exercícios sobre o assunto abordado e momento para tirar dúvidas..1]
Index: []

Empty DataFrame
Columns: [36, 18/03/24, Correção das atividades da aula anterior . Laços de repetição - FAÇA - utilização em resolução de problemas, exercícios sobre o assunto abordado e momento para tirar dúvidas., 18/03/2024, Correção das atividades da aula anterior . Laços de repetição - FAÇA - utilização em resolução de problemas, exercícios sobre o assunto abordado e momento para tirar dúvidas..1]
Index: []

Empty DataFrame
Columns: [38, 20/03/24, Estrutura de repetição FAÇA ENQUANTO - Uso da solução na resolução de problemas utilizando o Portugol Studio. Exercícios de fixação e momento para tirar dúvidas., 20/03/2024, Estrutura de repetição FAÇA ENQUANTO - Uso da solução na resolução de problemas utilizando o Portugol Studio. Exercícios de fixação e momento para tirar dúvidas..1]
Index: []

Empty DataFrame
Columns: [40, 25/03/24, Funções - Modularização de sistemas, procedimentos, conceito e aplicação de funções utilizando o portugol. Vetores - Conceito e aplicação, ilustração de exemplos práticos, exercícios de fixação., 25/03/2024, Funções - Modularização de sistemas, procedimentos, conceito e aplicação de funções utilizando o portugol. Vetores - Conceito e aplicação, ilustração de exemplos práticos, exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [42, 25/03/24, Funções - Modularização de sistemas, procedimentos, conceito e aplicação de funções utilizando o portugol. Vetores - Conceito e aplicação, ilustração de exemplos práticos, exercícios de fixação., 25/03/2024, Funções - Modularização de sistemas, procedimentos, conceito e aplicação de funções utilizando o portugol. Vetores - Conceito e aplicação, ilustração de exemplos práticos, exercícios de fixação..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [44, 27/03/24, Matrizes - Conceito e aplicação - Exercícios para fixação do conteúdo. Correção dos exercícios anteriores., 27/03/2024, Matrizes - Conceito e aplicação - Exercícios para fixação do conteúdo. Correção dos exercícios anteriores..1]
Index: []

Empty DataFrame
Columns: [46, 01/04/24, Revisão - Prova de Portugol - Simulado com o conteúdo de todos os assuntos abordados., 01/04/2024, Revisão - Prova de Portugol - Simulado com o conteúdo de todos os assuntos abordados..1]
Index: []

Empty DataFrame
Columns: [48, 01/04/24, Revisão - Prova de Portugol - Simulado com o conteúdo de todos os assuntos abordados., 01/04/2024, Revisão - Prova de Portugol - Simulado com o conteúdo de todos os assuntos abordados..1]
Index: []

Empty DataFrame
Columns: [50, 03/04/24, Avaliação Lógica de programação, 03/04/2024, Avaliação Lógica de programação.1]
Index: []

Empty DataFrame
Columns: [52, 04/04/24, Introdução a linguagem C - Histórico, conceito e aplicação nos dias atuais., 04/04/2024, Introdução a linguagem C - Histórico, conceito e aplicação nos dias atuais..1]
Index: []

Empty DataFrame
Columns: [54, 04/04/24, Introdução a linguagem C - Histórico, conceito e aplicação nos dias atuais., 04/04/2024, Introdução a linguagem C - Histórico, conceito e aplicação nos dias atuais..1]
Index: []

Empty DataFrame
Columns: [56, 08/04/24, Ferramentas de desenvolvimento - Explicação de principais ferramentas de desenvolvimento no mercado atual. Instalação e configuração do VS.Code., 08/04/2024, Ferramentas de desenvolvimento - Explicação de principais ferramentas de desenvolvimento no mercado atual. Instalação e configuração do VS.Code..1]
Index: []

Empty DataFrame
Columns: [58, 10/04/24, Conhecendo o ambiente de desenvolvimento VS Code - Instalação de plugins e ambientação com a ferramenta., 10/04/2024, Conhecendo o ambiente de desenvolvimento VS Code - Instalação de plugins e ambientação com a ferramenta..1]
Index: []

Empty DataFrame
Columns: [60, 10/04/24, Conhecendo o ambiente de desenvolvimento VS Code - Instalação de plugins e ambientação com a ferramenta., 10/04/2024, Conhecendo o ambiente de desenvolvimento VS Code - Instalação de plugins e ambientação com a ferramenta..1]
Index: []

Empty DataFrame
Columns: [62, 11/04/24, Tipo de dados, variáveis  e constantes - Aplicação dos conhecimentos para criação do nosso primeiro código em C. Exercícios práticos em sala de aula., 11/04/2024, Tipo de dados, variáveis  e constantes - Aplicação dos conhecimentos para criação do nosso primeiro código em C. Exercícios práticos em sala de aula..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [64, 15/04/24, Aplicação dos conhecimentos adquiridos sobre expressões aritméticas para a solução de problemas utilizando a linguagem C. Exercicios práticos e momento para tirar dúvidas., 15/04/2024, Aplicação dos conhecimentos adquiridos sobre expressões aritméticas para a solução de problemas utilizando a linguagem C. Exercicios práticos e momento para tirar dúvidas..1]
Index: []

Empty DataFrame
Columns: [66, 15/04/24, Aplicação dos conhecimentos adquiridos sobre expressões aritméticas para a solução de problemas utilizando a linguagem C. Exercicios práticos e momento para tirar dúvidas., 15/04/2024, Aplicação dos conhecimentos adquiridos sobre expressões aritméticas para a solução de problemas utilizando a linguagem C. Exercicios práticos e momento para tirar dúvidas..1]
Index: []

Empty DataFrame
Columns: [68, 16/04/24, Aplicação dos conceitos em estruturas condicionais na linguagem C. Exercícios para resolução de problemas utilizando os conceitos adquiridos ao longo do curso., 16/04/2024, Aplicação dos conceitos em estruturas condicionais na linguagem C. Exercícios para resolução de problemas utilizando os conceitos adquiridos ao longo do curso..1]
Index: []

Empty DataFrame
Columns: [70, 17/04/24, Fundamentos de Sistemas operacionais. História e principais características dos sistemas operacionais. Correção das atividades da aula anterior., 17/04/2024, Fundamentos de Sistemas operacionais. História e principais características dos sistemas operacionais. Correção das atividades da aula anterior..1]
Index: []

Empty DataFrame
Columns: [72, 17/04/24, Fundamentos de Sistemas operacionais. História e principais características dos sistemas operacionais. Correção das atividades da aula anterior., 17/04/2024, Fundamentos de Sistemas operacionais. História e principais características dos sistemas operacionais. Correção das atividades da aula anterior..1]
Index: []

Empty DataFrame
Columns: [74, 18/04/24, Utilização de estruturas condicionais aninhadas utilizando a linguagem C. Exercícios de Fixação e aplicação em códigos em C., 18/04/2024, Utilização de estruturas condicionais aninhadas utilizando a linguagem C. Exercícios de Fixação e aplicação em códigos em C..1]
Index: []

Empty DataFrame
Columns: [76, 23/04/24, Utilização de laços de repetição - FOR , WHILE, DO WHILE - Explanação e revisão da utilização juntamente com a aplicação de exercicios., 23/04/2024, Utilização de laços de repetição - FOR , WHILE, DO WHILE - Explanação e revisão da utilização juntamente com a aplicação de exercicios..1]
Index: []

Empty DataFrame
Columns: [78, 23/04/24]
Index: []

Empty DataFrame
Columns: [23/04/2024]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [80, 24/04/24, Correção de exercícios anterirores  e explanação do assunto Laços aninhados. Aplicação de exercícios e momento para tirar dúvidas., 24/04/2024, Correção de exercícios anterirores  e explanação do assunto Laços aninhados. Aplicação de exercícios e momento para tirar dúvidas..1]
Index: []

Empty DataFrame
Columns: [82, 25/04/24, Atividade de fixação - aplicação dos conhecimentos sobre matrizes e vetores em um lista de exercícios enviada na aula anterior.Aula prática., 25/04/2024, Atividade de fixação - aplicação dos conhecimentos sobre matrizes e vetores em um lista de exercícios enviada na aula anterior.Aula prática.]
Index: []

Empty DataFrame
Columns: [84, 25/04/24, Atividade de fixação - aplicação dos conhecimentos sobre matrizes e vetores em um lista de exercícios enviada na aula anterior.Aula prática., 25/04/2024, Atividade de fixação - aplicação dos conhecimentos sobre matrizes e vetores em um lista de exercícios enviada na aula anterior.Aula prática.]
Index: []

Empty DataFrame
Columns: [86, 30/04/24, Correção de lista de exercícios em C - Explicação da soluções aplicadas na resolução dos problemas da atividade de matrizes., 30/04/2024, Correção de lista de exercícios em C - Explicação da soluções aplicadas na resolução dos problemas da atividade de matrizes..1]
Index: []

Empty DataFrame
Columns: [88, 02/05/24, Manipulação de Strings - Conceito e aplicação com exemplos e exercícios utilizado as funções da biblioteca String na linguagem C, 02/05/2024, Manipulação de Strings - Conceito e aplicação com exemplos e exercícios utilizado as funções da biblioteca String na linguagem C.1]
Index: []

Empty DataFrame
Columns: [90, 02/05/24, Manipulação de Strings - Conceito e aplicação com exemplos e exercícios utilizado as funções da biblioteca String na linguagem C, 02/05/2024, Manipulação de Strings - Conceito e aplicação com exemplos e exercícios utilizado as funções da biblioteca String na linguagem C.1]
Index: []

Empty DataFrame
Columns: [92, 03/05/24, Boas práticas de codificação - Identação conceito e aplicação  . Configuração de plugins no VScode. Ajustes dos códigos já criados. Correções  dos exercícios da aula anterior., 03/05/2024, Boas práticas de codificação - Identação conceito e aplicação  . Configuração de plugins no VScode. Ajustes dos códigos já criados. Correções  dos exercícios da aula anterior..1]
Index: []

Empty DataFrame
Columns: [94, 07/05/24, Structs - Conceito e aplicação no contexto de programação na linguagem C. Exemplos práticos com exercícios de fixação para o conteúdo abordado., 07/05/2024, Structs - Conceito e aplicação no contexto de programação na linguagem C. Exemplos práticos com exercícios de fixação para o conteúdo abordado..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [96, 07/05/24, Structs - Conceito e aplicação no contexto de programação na linguagem C. Exemplos práticos com exercícios de fixação para o conteúdo abordado., 07/05/2024, Structs - Conceito e aplicação no contexto de programação na linguagem C. Exemplos práticos com exercícios de fixação para o conteúdo abordado..1]
Index: []

Empty DataFrame
Columns: [98, 08/05/24, Modularização de sistemas - Criação de funções e aplicações em Structs. Prática com a resolução de exercicios., 08/05/2024, Modularização de sistemas - Criação de funções e aplicações em Structs. Prática com a resolução de exercicios..1]
Index: []

Empty DataFrame
Columns: [100, 09/05/24, Introdução a estrutura de dados  - Conceito e principais aplicações que utilizam essa tecnologia., 09/05/2024, Introdução a estrutura de dados  - Conceito e principais aplicações que utilizam essa tecnologia..1]
Index: []

Empty DataFrame
Columns: [102, 09/05/24, Introdução a estrutura de dados  - Conceito e principais aplicações que utilizam essa tecnologia., 09/05/2024, Introdução a estrutura de dados  - Conceito e principais aplicações que utilizam essa tecnologia..1]
Index: []

Empty DataFrame
Columns: [104, 10/05/24, Fundamentos de Sistemas operacionais - Conceito, aplicação e importância no desenvolvimento de software., 10/05/2024, Fundamentos de Sistemas operacionais - Conceito, aplicação e importância no desenvolvimento de software..1]
Index: []

Empty DataFrame
Columns: [106, 14/05/24, Fundamentos de Software - Conceito, aplicação e importância no desenvolvimento de software., 14/05/2024, Fundamentos de Software - Conceito, aplicação e importância no desenvolvimento de software..1]
Index: []

Empty DataFrame
Columns: [108, 14/05/24, Fundamentos de Software - Conceito, aplicação e importância no desenvolvimento de software., 14/05/2024, Fundamentos de Software - Conceito, aplicação e importância no desenvolvimento de software..1]
Index: []

Empty DataFrame
Columns: [110, 15/05/24, Legislação autoral  - Conceito, aplicação e importância no desenvolvimento de software., 15/05/2024, Legislação autoral  - Conceito, aplicação e importância no desenvolvimento de software..1]
Index: []

Empty DataFrame
Columns: [112, 16/05/24]
Index: []

Empty DataFrame
Columns: [16/05/2024]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [114, 16/05/24, Fundamentos de Redes - Conceito, aplicação e importância no desenvolvimento de software., 16/05/2024, Fundamentos de Redes - Conceito, aplicação e importância no desenvolvimento de software..1]
Index: []

Empty DataFrame
Columns: [116, 17/05/24, Algoritmos de ordenação - Introdução part 1 - Explicação e implantação de algoritmos de ordenação., 17/05/2024, Algoritmos de ordenação - Introdução part 1 - Explicação e implantação de algoritmos de ordenação..1]
Index: []

Empty DataFrame
Columns: [118, 21/05/24, Algoritmo de Ordenação - Parte 2 - Utilização em exercícios práticos., 21/05/2024, Algoritmo de Ordenação - Parte 2 - Utilização em exercícios práticos..1]
Index: []

Empty DataFrame
Columns: [120, 21/05/24, Algoritmo de Ordenação - Parte 2 - Utilização em exercícios práticos., 21/05/2024, Algoritmo de Ordenação - Parte 2 - Utilização em exercícios práticos..1]
Index: []

Empty DataFrame
Columns: [122, 22/05/24, Algoritmos de Busca - Implementação  e utilização em vetores e structs. Exercícios de fixação., 22/05/2024, Algoritmos de Busca - Implementação  e utilização em vetores e structs. Exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [124, 23/05/24, Correção de exercícios - Algoritmos de busca e ordenação ., 23/05/2024, Correção de exercícios - Algoritmos de busca e ordenação ..1]
Index: []

Empty DataFrame
Columns: [126, 23/05/24, Correção de exercícios - Algoritmos de busca e ordenação ., 23/05/2024, Correção de exercícios - Algoritmos de busca e ordenação ..1]
Index: []

Empty DataFrame
Columns: [128, 24/05/24, Exercícios em Grupo - Aplicação de atividade em sala de aula., 24/05/2024, Exercícios em Grupo - Aplicação de atividade em sala de aula..1]
Index: []

Empty DataFrame
Columns: [130, 28/05/24, Correção das atividades e sorteio para apresentação das equipes - Projeto de sistema., 28/05/2024, Correção das atividades e sorteio para apresentação das equipes - Projeto de sistema..1]
Index: []

Empty DataFrame
Columns: [132, 28/05/24, Correção das atividades e sorteio para apresentação das equipes - Projeto de sistema., 28/05/2024, Correção das atividades e sorteio para apresentação das equipes - Projeto de sistema..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [134, 29/05/24, Ponteiros - Conceito e aplicação. Utilização em aplicações em C. Exemplos práticos e exercícios., 29/05/2024, Ponteiros - Conceito e aplicação. Utilização em aplicações em C. Exemplos práticos e exercícios..1]
Index: []

Empty DataFrame
Columns: [136, 03/06/24, Introdução a pilha estática - aplicação de pilha utilizando a linguagem C. Exercícios de fixação, 03/06/2024, Introdução a pilha estática - aplicação de pilha utilizando a linguagem C. Exercícios de fixação.1]
Index: []

Empty DataFrame
Columns: [138, 03/06/24, Introdução a pilha estática - aplicação de pilha utilizando a linguagem C. Exercícios de fixação, 03/06/2024, Introdução a pilha estática - aplicação de pilha utilizando a linguagem C. Exercícios de fixação.1]
Index: []

Empty DataFrame
Columns: [140, 04/06/24, Correção de exercícios - PILHA  - Introdução a Fila estática - Conceito e aplicação exercícios de fixação., 04/06/2024, Correção de exercícios - PILHA  - Introdução a Fila estática - Conceito e aplicação exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [142, 05/06/24, Correção dos exercícios de Fila - Pilha e fila dinâmica - Aplicação em exercícios práticos., 05/06/2024, Correção dos exercícios de Fila - Pilha e fila dinâmica - Aplicação em exercícios práticos..1]
Index: []

Empty DataFrame
Columns: [144, 05/06/24, Recursividade - Explicação e aplicação do seu uso em funções . Exemplos práticos e exercícios., 05/06/2024, Recursividade - Explicação e aplicação do seu uso em funções . Exemplos práticos e exercícios..1]
Index: []

Empty DataFrame
Columns: [146, 06/06/24, Correção dos exercícios anteriores - Alocação dinâmica de memoria. Exemplos práticos e exercícios de fixação., 06/06/2024, Correção dos exercícios anteriores - Alocação dinâmica de memoria. Exemplos práticos e exercícios de fixação..1]
Index: []

Empty DataFrame
Columns: [148, 10/06/24, Correção dos exercícios da Aula anterior  ALOCAÇÃO DINAMICA - momento tira dúvidas e revisão de códigos., 10/06/2024, Correção dos exercícios da Aula anterior  ALOCAÇÃO DINAMICA - momento tira dúvidas e revisão de códigos..1]
Index: []

Empty DataFrame
Columns: [150, 10/06/24, Correção dos exercícios da Aula anterior  ALOCAÇÃO DINAMICA - momento tira dúvidas e revisão de códigos., 10/06/2024, Correção dos exercícios da Aula anterior  ALOCAÇÃO DINAMICA - momento tira dúvidas e revisão de códigos..1]
Index: []

,CURSO:,Técnico em Desenvolvimento de Sistemas,GRADE 20231,Unnamed: 0,Unnamed: 1
0,TURMA:,G91118,DATA INÍCIO: 31/01/2024,DATA FIM: 17/06/2024,PERÍODO LETIVO 20241
1,DISCIPLINA:,Lógica de Programação,CARGA HORÁRIA: 162,,
2,PROFESSOR:,ADS957 - Emerson Lins Guimarães,COORDENADOR: Jailson José dos Santos,,

Empty DataFrame
Columns: [AULA, DATA PREVISTA, CONTEÚDO PREVISTO, DATA REALIZADA, CONTEÚDO REALIZADO]
Index: []

Empty DataFrame
Columns: [152, 11/06/24, Revisão dos trabalhos - Mentoria e acompanhamento da confecção no desenvolvimento dos sistema que serão apresentados., 11/06/2024, Revisão dos trabalhos - Mentoria e acompanhamento da confecção no desenvolvimento dos sistema que serão apresentados..1]
Index: []

Empty DataFrame
Columns: [154, 12/06/24, Apresentação dos trabalhos de final de curso., 12/06/2024, Apresentação dos trabalhos de final de curso..1]
Index: []

Empty DataFrame
Columns: [156, 12/06/24, Apresentação dos trabalhos de final de curso., 12/06/2024, Apresentação dos trabalhos de final de curso..1]
Index: []

Empty DataFrame
Columns: [158, 13/06/24, Apresentação dos trabalhos de final de curso., 13/06/2024, Apresentação dos trabalhos de final de curso..1]
Index: []

Empty DataFrame
Columns: [160, 17/06/24, Recuperação - Avaliação final para alunos que ficaram em recuperação., 17/06/2024, Recuperação - Avaliação final para alunos que ficaram em recuperação..1]
Index: []

Empty DataFrame
Columns: [162, 17/06/24, Recuperação - Avaliação final para alunos que ficaram em recuperação., 17/06/2024, Recuperação - Avaliação final para alunos que ficaram em recuperação..1]
Index: []